#buttonHit {
    -fx-background-color: red;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#buttonMissed {
    -fx-background-color: lightblue;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#stdLabel {
    -fx-background-color: white;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#stdLabel2 {
    -fx-background-color: #E5F2FF;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#labelWithShip {
    -fx-font-weight: bold;
    -fx-background-color: #666699;
    -fx-border-width: 0.5;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#labelHit {
    -fx-background-color: #FF9999;
    -fx-font-weight: bold;
    -fx-border-width: 0.5;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#labelMissed {
    -fx-background-color: #b0e2ff;
    -fx-border-width: 0.5;
    -fx-border-color: black;
}

#nameNotSubmitted {
    -fx-text-inner-color: red;
}

#nameSubmitted {
    -fx-text-inner-color: green;
}

#anchorPaneId {
    -fx-background-image: url("background_bs.jpg");
    -fx-background-position: center center;
    -fx-background-size: 1500 900;
}

#marked {
    -fx-border-width: 2;
    -fx-border-color: red;
    -fx-background-color: #E5F2FF;

}

#setFinal {
    -fx-font-weight: bold;
    -fx-background-color: #666699;
    -fx-border-width: 0.5;
    -fx-border-color: black;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#wonMatch {
    -fx-background-image: url("giphy.gif");
}

#display {
    -fx-border-color: white;
    -fx-border-width: 3;
}

#looser {
    -fx-background-image: url("looser.gif");
}

#turret{
    -fx-background-image: url("turret_37965.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#markedFormerHit{
    -fx-background-color: darkgrey;
}

#markedFormerMissed{
    -fx-background-color: darkgrey;
}
#stdButton{

}

#markedTurret{
    -fx-background-color: darkgrey;
}